@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Products Dashboard</h1>
    <p>Query a MySQL database of products.</p>
    <p>Supported operations: Create, Read, Update, Delete, Search</p>
</div>
